extends ./layout

block content
  .row
    .bootcards-cards
      .panel.panel-default.bootcards-summary
        .panel-heading
          | Your Bots
        .panel-body
          .row
            each bot in bots
              .col-sm-3
                a.bootcards-summary-item(href='/portal/settings/' + bot._id, style='padding-top:35px;')
                  i.fa.fa-3x.fa-info-circle
                  h4= bot.name
            .col-sm-3
              a.bootcards-summary-item(href='/portal/library', style='padding-top:35px;')
                i.fa.fa-3x.fa-plus
                h4
                  | New Bot
        .panel-footer
