extends ./layout

block content
  .row.col-sm-6
    .bootcards-list
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left Conversations
          h3.panel-title.pull-right
            a.pjax(href='/portal/conversations/download')
              | Download as CSV
        .panel-body
          each c in conversations
            .list-group
              a.list-group-item(href='/portal/conversations/'+c.objectId)
                h4.list-group-item-heading  #{c.src}
                p.list-group-item-text #{c.display_timestamp}
