extends ./layout

block content
  .row
    .bootcards-cards
      .panel.panel-default.bootcards-summary
        .panel-heading
        .panel-body
          .row
            each bot in bots
              .col-sm-3
                a.bootcards-summary-item(href='/portal/config/info', data-title='Information', style='padding-top:35px;')
                  i.fa.fa-3x.fa-info-circle
                  h4= bot.name
            .col-sm-3
              a.bootcards-summary-item(href='/portal/library', data-title='Help', style='padding-top:35px;')
                i.fa.fa-3x.fa-plus
                h4
                  | New Bot
            .col-sm-3
              a.bootcards-summary-item(href='http://kisst.zendesk.com', data-pjax='#main', data-title='Help', style='padding-top:35px;')
                i.fa.fa-3x.fa-question-circle
                h4
                  | Help
            .col-sm-3
              a.bootcards-summary-item(href='/logout', style='padding-top:35px;')
                i.fa.fa-3x.fa-sign-out
                h4
                  | Sign Out
        .panel-footer
